{% extends 'base.html' %} {% block content %}

<div class="row mx-auto" style="width: 900px;">
	<h1>Bem vindo a seu Portifólio de Ações</h1>
	<br />
	<div class="flex-container">
		<div class="col-12">
			<p>
				Para pesquisar o preço de uma ação pesquise aqui
				 ou a qualquer momento na barra de pesquisa
			</p>
			<div class="col-3">
				<form action="{% url 'home' %}" class="d-flex" method="POST">
					{% csrf_token %}
					<input
						class="form-control me-2"
						type="search"
						placeholder="Digite uma ação"
						aria-label="Search"
						name="simbolo"
					/>
					<button class="btn btn-outline-success" type="submit">
						Pesquisar
					</button>
				</form>
			</div>
		</div>
		<br/>
		<div class="col-6">
			<p>Caso queira adicionar ações ou visualizar as ja registradas visite seu
			<a class="btn btn-outline-info btn-sm" href="{% url 'portifolio' %}">Portifolio</a></p>
		</div>
	</div>
</div>

{% endblock %}
